<div class="container">
  <!-- Background GMap -->
  <agm-map [style.width.px]="windowDims[0]" [style.height.px]="windowDims[1]" [latitude]="baseLocation.lat" [longitude]="baseLocation.lng" [zoom]="zoom" [mapTypeId]="mapType" backgroundColor="#757575" [streetViewControl]="false" [scaleControl]="false" [zoomControl]="false" [panControl]="false">
    <!-- Gmap marker -->
    <agm-marker *ngFor="let station of stations" [latitude]="station.position.lat" [longitude]="station.position.lng" [iconUrl]="getStationIcon(station)">
      <agm-info-window>
        <div class="marker-info-wrapper">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px"><mat-icon [svgIcon]="getViewIcon(station, 'OVERVIEW')"></mat-icon> {{ station.name }}</div>
          <div style="padding: 10px">{{ station.address.toLowerCase() }}</div>
          <div class="spacer">&nbsp;</div>
          <div class="indent-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px"><mat-icon [svgIcon]="getViewIcon(station, 'BIKE', 'TAKE')"></mat-icon><mat-icon [svgIcon]="getViewIcon(station, 'TAKE')"></mat-icon></div>
            {{ station.availableBikes }}
          </div>
          <div class="indent-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px"><mat-icon [svgIcon]="getViewIcon(station, 'BIKE', 'RETURN')"></mat-icon><mat-icon [svgIcon]="getViewIcon(station, 'RETURN')"></mat-icon>{{ station.availableBikeStands }}</div>
          <div class="indent-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
            <mat-icon [svgIcon]="getViewIcon(station, 'BANK')"></mat-icon><span>{{ station.banking ? 'Banking available' : 'Banking unavailable' }}</span>
          </div>
          <div style="padding: 10px">Last Update: {{ station.lastUpdate | date: 'short' }}</div>
          <div class="spacer">&nbsp;</div>
          <div style="width: 100%" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="3px">
            <button mat-icon-button (click)="onToggleEndpoint(station, 0)"><mat-icon svgIcon="DIRECTION_START" [style.fill]="endpoints[0] === station ? 'rgb(255, 193, 7)' : 'grey'"></mat-icon></button>
            <button mat-icon-button (click)="onToggleEndpoint(station, 1)"><mat-icon svgIcon="DIRECTION_END" [style.fill]="endpoints[1] === station ? 'rgb(255, 193, 7)' : 'grey'"></mat-icon></button>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>

    <!-- Gmap polylines -->
    <agm-polyline *ngIf="directions" strokeColor="rgb(255, 193, 7)" strokeWeight="4" (lineClick)="onTogglePolylineInfo($event)" geodesic="true">
      <ng-container *ngFor="let step of directions.steps">
        <agm-polyline-point [latitude]="step.startLocation.lat" [longitude]="step.startLocation.lng"> </agm-polyline-point>
        <agm-polyline-point [latitude]="step.endLocation.lat" [longitude]="step.endLocation.lng"> </agm-polyline-point>
      </ng-container>
    </agm-polyline>

    <!-- Gmap polyline info window -->
    <agm-info-window [isOpen]="true" [latitude]="directionSegmentInfo?.position?.lat" [longitude]="directionSegmentInfo?.position?.lng" #directionWindow>
      <div style="width: 100%">
        <div><strong>Start:</strong> {{ directionSegmentInfo.startAddress }}</div>
        <div><strong>End</strong> {{ directionSegmentInfo.endAddress }}</div>
        <div><strong>Duration:</strong> {{ directionSegmentInfo.duration }}</div>
        <div><strong>Distance:</strong> {{ directionSegmentInfo.distance }}</div>
      </div>
    </agm-info-window>
  </agm-map>
</div>

<!-- Action floating buttons -->
<ngx-float-button class="action-menu" icon="add" color="#ffa000">
  <ngx-float-item-button (clicked)="onToggleContract()" icon="map" content="Contracts" color="#ffc107"></ngx-float-item-button>
  <ngx-float-item-button (clicked)="onFindDirections()" [disabled]="!endpoints && !endpoints[0] && !endpoints[1]" icon="directions" content="Directions" color="#ffc107"></ngx-float-item-button>
  <ngx-float-item-button (clicked)="onToggleMapType()" icon="layers" content="Map Type" color="#ffc107"></ngx-float-item-button>
</ngx-float-button>

<!-- Directions selection summary -->
<mat-tab-group *ngIf="contextMode === 'CONTRACTS'" class="contract-tabs translate-down" (selectedTabChange)="onContractSelect($event)" #tabRef>
  <mat-tab *ngFor="let contract of contracts" [label]="contract.name">
    <ng-template mat-tab-label>
      <span class="flag-icon flag-icon-squared" [ngClass]="('flag-icon-' + contract.countryCode).toLowerCase()"></span>
      &nbsp; {{ contract.name }}
    </ng-template>
  </mat-tab>
</mat-tab-group>

<!-- Map type toggle -->
<mat-button-toggle-group *ngIf="isMapTypeSelection" multiple="false" class="map-type-toggle translate-up" #toggleRef>
  <mat-button-toggle (click)="mapType = 'hybrid'">
    <mat-icon svgIcon="MAP_HYBRID" style="fill: white"></mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (click)="mapType = 'terrain'">
    <mat-icon svgIcon="MAP_TERRAIN" style="fill: white"></mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (click)="mapType = 'satellite'">
    <mat-icon svgIcon="MAP_SATELLITE" style="fill: white"></mat-icon>
  </mat-button-toggle>
  <mat-button-toggle (click)="mapType = 'roadmap'">
    <mat-icon svgIcon="MAP_ROAD" style="fill: white"></mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<!-- Directions selection summary -->
<mat-accordion *ngIf="contextMode === 'CONTRACTS'" class="directions-panel translate-directions-down">
  <mat-expansion-panel *ngIf="endpoints[0]">
    <mat-expansion-panel-header *ngIf="endpoints[0]">
      <mat-panel-title>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px"><mat-icon [svgIcon]="getViewIcon(endpoints[0], 'OVERVIEW')"></mat-icon> {{ endpoints[0].name }}</div>
      </mat-panel-title>
      <mat-panel-description>
        <div style="padding: 10px; text-align: center">{{ endpoints[0].address.toLowerCase() }}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-wrapper" *ngIf="endpoints[0]">
      <div class="indent-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px"><mat-icon [svgIcon]="getViewIcon(endpoints[0], 'BIKE', 'TAKE')"></mat-icon><mat-icon [svgIcon]="getViewIcon(endpoints[0], 'TAKE')"></mat-icon></div>
        {{ endpoints[0].availableBikes }}
      </div>
      <div class="indent-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px"><mat-icon [svgIcon]="getViewIcon(endpoints[0], 'BIKE', 'RETURN')"></mat-icon><mat-icon [svgIcon]="getViewIcon(endpoints[0], 'RETURN')"></mat-icon>{{ endpoints[0].availableBikeStands }}</div>
      <div class="indent-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
        <mat-icon [svgIcon]="getViewIcon(endpoints[0], 'BANK')"></mat-icon><span>{{ endpoints[0].banking ? 'Banking available' : 'Banking unavailable' }}</span>
      </div>
      <div style="padding: 10px">Last Update: {{ endpoints[0].lastUpdate | date: 'short' }}</div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="endpoints[1]">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px"><mat-icon [svgIcon]="getViewIcon(endpoints[1], 'OVERVIEW')"></mat-icon> {{ endpoints[1].name }}</div>
      </mat-panel-title>
      <mat-panel-description>
        <div style="padding: 10px; text-align: center">{{ endpoints[1].address.toLowerCase() }}</div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-wrapper">
      <div class="indent-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px"><mat-icon [svgIcon]="getViewIcon(endpoints[1], 'BIKE', 'TAKE')"></mat-icon><mat-icon [svgIcon]="getViewIcon(endpoints[1], 'TAKE')"></mat-icon></div>
        {{ endpoints[1].availableBikes }}
      </div>
      <div class="indent-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px"><mat-icon [svgIcon]="getViewIcon(endpoints[1], 'BIKE', 'RETURN')"></mat-icon><mat-icon [svgIcon]="getViewIcon(endpoints[1], 'RETURN')"></mat-icon>{{ endpoints[1].availableBikeStands }}</div>
      <div class="indent-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
        <mat-icon [svgIcon]="getViewIcon(endpoints[1], 'BANK')"></mat-icon><span>{{ endpoints[1].banking ? 'Banking available' : 'Banking unavailable' }}</span>
      </div>
      <div style="padding: 10px">Last Update: {{ endpoints[1].lastUpdate | date: 'short' }}</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<!-- Application spinner -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="rgb(255, 193, 7)" type="timer" fullScreen="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<ngx-spinner bdColor="rgba(0,0,0,0)" size="large" color="rgb(255, 193, 7)" type="ball-scale-ripple-multiple" fullScreen="true"> </ngx-spinner>
