.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.action-menu {
  right: 5px;
  bottom: 10px;
}

.map-type-toggle {
  left: 5px;
  bottom: 10px;
}

.contract-tabs {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.directions-panel {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.marker-info-wrapper {
  padding: 10px 10px;
}

.spacer {
  border-top: 1px solid #7575753d;
  width: 100%;
}

.indent-left {
  margin-left: 10px;
}

.translate-up {
  animation: slide-up 200ms forwards ease-in;
}

.translate-down {
  animation: slide-down 200ms forwards ease-out;
}

.translate-directions-down {
  animation: slide-directions-down 300ms forwards ease-out;
}

.expand {
  animation: expand 300ms forwards ease-out;
}

.translate-toggle-down {
  animation: slide-toggle-down 200ms forwards ease-out;
}

.map-type-toggle {
  left: 5px;
  position: absolute;
  height: 48px;
}

::ng-deep .mat-tab-group {
  background-color: white;
  position: absolute;
  width: 100%;
}

::ng-deep .mat-button-toggle {
  white-space: nowrap;
  position: relative;
  height: 48px;
  background: rgb(255, 193, 7);
}

@keyframes slide-down {
  from {
    top: -30px;
  }

  to {
    top: 0px;
  }
}

@keyframes slide-up {
  from {
    bottom: -30px;
  }

  to {
    bottom: 10px;
  }
}

@keyframes slide-directions-down {
  from {
    top: -30px;
  }

  to {
    top: 48px;
  }
}

@keyframes slide-toggle-down {
  from {
    bottom: 10px;
  }
  to {
    bottom: -70px;
  }
}

@keyframes expand {
  from {
    height: 0px;
  }
  to {
    top: 48px;
  }
}
